:root{
    --textColor: #fff;
    --principalGreen: #007335;
    font-family: 'Ysabeau Infant', sans-serif;

}


body{
    background-color: #fff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23011604' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    top: 0.1px;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fff;
    z-index: 10000;
    height: 100px;
    /* width: 100%; */
    padding-top: 5px;
    padding-bottom:5px;
}

.meunButton>img{
    width: 25px;
    height: 25px;
}
.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight:600 ;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.imgRespon{
    display: none;
}


.presentationContainer{
    background-image: url(./ASSETS/MEDIA/real-estate-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 700px;
    overflow: hidden;
}

.presentationBackground{
    width: 100%;
    height: 100%;
}

.presentationHoverGround{
    padding: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-gap: 25px;
}

.presentationButton{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    /* right: 50%; */
    background-color: var(--principalGreen);
    align-items: center;
    justify-items: center;
}

.hoverButton{
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    padding:0 5px 0  5px;

}

.hoverButton>a{
    color: #fff;
    text-decoration: none;
}

.hoverButton:hover{
    background-color: #000;
    transition: background-color .5s;
}


/* .presentationButton{
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;

} */

.arrow{
    display: grid;
    justify-items: end;
    width: 100%;

}

.solucionesContainer{
    background-color: #fff;
    color: #fff;
    display: grid;
    grid-template-columns: fit-content repeat(2,1fr);
    justify-items: center;
    gap: 30px;
    padding-bottom: 50px;
    padding: 70px;
    padding-top: 0;
    padding-bottom: 100px;
    /* height: 550px;
    width: 307px; */
}
.solucionesTitle{
    display: grid;
    justify-content: center;
    background-color: #fff;

}


.solCont{
    display: grid;
    grid-template-columns: fit-content auto auto fit-content repeat(4,1fr);
    grid-template-rows:  repeat(3,1fr);
    /* margin: 15px; */
    background-color: var(--principalGreen);
    height: 350px;
    width: 100%;   
    border-radius: 5px;
}

.solCont1{
    grid-column: 1/2;
}

.solCont2{
    grid-column: 2/3;
}


.solCont:hover{
    background-color: #000;
    transition: background-color .5s;
}

.solIcont{
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start; */
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 25px;
    padding-right: 0;
    width: fit-content;

}

.solLeftLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: #fff 1px solid;
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    font-size: 60px;
}

.solLeftLogo>img{
    width: 50px;
    height: 50px;
}
    
.solRightTitleCont{
    grid-column:2/4 ;
    grid-row: 1/2;
    height: fit-content;
    margin: 0 25px 0 25px;
}
.solRightTitle{
    font-size: 40px;
    width: fit-content;

}

.solDesc{
    font-size: 20px;
    grid-column:2/4 ;
    grid-row: 2/3;
    height: fit-content;
    margin: 0;
    font-size: 18px;
    margin: 0 25px 0 25px;

}
.serviceBtnContainer{
    display: grid;
    align-content: center;
    justify-content: start;
    grid-column:3/5 ;
    grid-row: 3/4;
    height: fit-content;
    text-decoration: none;
}

.siveceBtn{
    display: grid;
    align-content: center;
    justify-content: center;
    border: #fff 1px solid;
    width: fit-content;
    border-radius: 8px;
    background-color: #000;
    text-decoration: none;
    width: 170px;
    height: 40px;
}

.siveceBtn:hover{
    background-color: var(--principalGreen);
    transition: background-color .5s;
}




.advantagesContainer{
    display: grid;
    align-items: end;
    grid-template-columns: repeat(2,1fr);
    background-color: #fff;
    padding-bottom: 100px;
    padding-right: 70px;
    height: fit-content;

}

.advantagesLeftCont{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.advantagesLeftDesc{
    font-size: 40px;
}

.contBtn{
    background-color: #007335;
    width: 170px;
    height: 40px;
    border-radius: 5px;
}

.advantagesRightCont{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 30px;
    height: fit-content;
    width: fit-content;
}

.advantagesRightCont>div{
    display: grid;
    grid-template-columns: fit-content repeat(2,1fr);
    grid-template-rows: fit-content repeat(2,1fr);
    height: fit-content;
    width: fit-content;
}


.advLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* border: #fff 1px solid; */
    color: var(--principalGreen);
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    font-size: 40px;
}

/* .advantagesRightCont>div{
    display: grid;
    grid-template-columns: fit-content repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: start;
    height: fit-content;
} */

.advImgCont{
    grid-column: 1/2;
    display: grid;
    align-items: start;
    justify-items: start;
    margin-right: 10px;

}
.advImgCont>img{
    width: 50px;
    height: 50px;
}
.advRghtTitle{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    height: fit-content;
}

.adiRghtDesc>p{
    margin: 0;
}

.advRghtTitle>h2{
    margin: 0;

}

.adiRghtDesc{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    height: fit-content;
}


footer{
    /* background-color: #000; */
    background-image: url(./ASSETS/MEDIA/pexels-dante-muñoz-15481505.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000;
    /* text-decoration: none; */
    padding-bottom: 20px;
}

.topFooterContainer{
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    /* flex-direction: row; */
    padding: 50px;
    gap: 10px;
}
.topFooterContainer>div{
    width: 50%;
    margin-top: 30px;
    font-size: 1.2rem;
}

.titleFooter{
    margin: 0;
    color: #fff;
}

.footerIcon{
    color: var(--principalGreen);
}

.footerIcon>img{
    width: 25px;
    height: 25px;
}

.topFooterServices{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    text-decoration: none;
    color: #fff;
}

.topFooterServices>a{
    text-decoration: none;
    color: #fff;
    
}

.topFooterMeetUs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: #fff;
}

.topFooterMeetUs>a{
    text-decoration: none;
    color: #fff;
    
}

.topFooterContact>div{
    display: flex;
    margin: 20px;
    margin-left: 0;
}

.topFooterContact>div>p{
    margin:0 0 0 10px ;
    color: #fff;
}

.botFooterRights{
    text-align: center;
    color: #fff;
}

.botFooterContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botFooterRights>p>a{
    text-decoration: none;
    color: #fff;
    
}



#btn-mas{
    display: none;
}
.container{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.redes a, .btn-mas label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--principalGreen);
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.redes a:hover{
    background: #fff;
    color: var(--principalGreen);;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

.redes>a>img{
    height: 25px;
    width: 25px;
}

.icon-chat>img{
    height: 25px;
    width: 25px;
}

#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: var(--principalGreen);;
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(360deg);
    font-size: 25px;
}




@media screen and (max-width: 900px) {

    header{
        padding: 10px 5px 10px 5px ;
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1000000;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
        /* font-size: 0.5rem; */
    }

    .imgPc{
        display: none;
    }

    .imgRespon{
        display: block;
        width: 90px;
    }



    
    .solucionesContainer{
        padding: 0;
    }

    .solCont{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(4,1fr);
        align-items: center;
        justify-items: center;
        height: 500px;
        width: 340px;
        
    }
    .solCont1{
        grid-column: 1/2;
    }
    
    .solCont2{
        grid-column: 1/2;
    }
    
    .solIcont{
        grid-row: 1/2;
        padding:0;
        padding-top: 10px;
    }    
    .solRightTitleCont{
        grid-column:1/2;
        grid-row: 2/3;
        height: fit-content;
    }
    .solRightTitle{
        text-align: center;

    }
    .solDesc{
        grid-column:1/2;
        grid-row: 3/4;
        text-align: center;
    }
    .serviceBtnContainer{
        grid-column:1/2;
        grid-row: 4/5;
    }


    .advantagesContainer{
        display: grid;
        align-items: center;
        justify-items: center ;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
        padding: 0;
        
    }
    .advantagesRightCont{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        column-gap: 30px;
        width: fit-content;
        padding: 15px;
    }
    .advantagesRightCont>div{
        display: grid;
        grid-template-columns: fit-content repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-items: start;
        /* height: fit-content; */
    }

    .advImgCont{
        grid-column: 1/2;
        display: grid;
        align-items: start;
        justify-items: start;
        margin-right: 10px;
    
    }
    .advImgCont>img{
        width: 50px;
        height: 50px;
    }


    .topFooterContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content repeat(4,1fr);
        align-items: center;
        justify-items: center;
        gap: 0;
        /* height: fit-content; */
        /* width: 100%; */
    }
    
    .topFooterContainer>div{
        display: grid;
        justify-items: center;
        height: fit-content;
        width: 100%;
    }
    .topFooterLogo{

        height: fit-content;
        width: 100%;
    }
    .topFooterLogo>img{
        /* height: 250px; */
        width: 250px;
        object-fit: cover;
        
    }

    .botFooterRights{
        padding: 10px;
        text-align: center;
    }



}