
.icon-chat:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
